@model SistemaCalculoweb.CalculoHoras

@{
    ViewBag.Title = "Create";
}


@if (Session["Usuario"] == null)
{
    <br />
    <br />
    <br />
    @Html.ActionLink("Favor Iniciar sesión para visualizar contenido ", "Login", "Usuarios")
}
else
{
using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
        <h2>Nuevo Calculo</h2>
    <div class="form-horizontal">
        <h4>Calculo Horas</h4>
        <hr />
        <table>
            <tr>
                <td class="col-md-4">
                        <label>Servicio</label>
                    </td>
                <td class="col-md-4">
                    @Html.DropDownList("Id_servicios", null, "Seleccione Opción", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td class="col-md-2">
                    <label>Tipo Operación</label>
                </td>
                <td class="col-md-2">
                    @Html.DropDownList("Id_Tipo_Operacion", null, "Seleccione Opción", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Tipo_Operacion, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <label>Volumen Ticket</label>
                </td>
                <td class="col-md-4">
                    @Html.DropDownList("Id_Volumen_Ticket", null, "Seleccione Opción", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Volumen_Ticket, "", new { @class = "text-danger" })
                </td>
                <td class="col-md-2">
                    <label>Cantidad</label>
                </td>
                <td class="col-md-2">
                    @Html.EditorFor(model => model.Cantidad_Volumen_Ticket, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese Cantidad" } })
                    @Html.ValidationMessageFor(model => model.Cantidad_Volumen_Ticket, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <label>Dispocitivo</label>
                   </td>
                <td class="col-md-2">
                            <select name="Id_Servicio_Descripcion1" id="Id_Servicio_Descripcion1" class="form-control">
                                <option value="">Seleccione Opción</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Id_Servicio_Descripcion, "", new { @class = "text-danger" })
                </td>

                <td class="col-md-2">
                    <label>Cantidad</label>
                      </td>
                <td class="col-md-2">
                            @Html.EditorFor(model => model.cantidad_Servicio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese Cantidad" } })
                            @Html.ValidationMessageFor(model => model.cantidad_Servicio, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <label>Resultado</label>
                 </td>
                 <td class="col-md-2">
                            @Html.EditorFor(model => model.Resultado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Resultado, "", new { @class = "text-danger" })
                </td>
                <td class="col-md-2">
                    <input type="button" id="calculobtn" value="Calculo" class="btn btn-info btn-sm" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="agregar" value="Agregar" class="btn btn-success btn-sm center-block" />
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <div id="Grilla" >
            <table id="tResultado" class="table-striped">
                <thead>
                    <tr>
                        <td class="col-md-2">
                            Tipo Servicio
                        </td>
                        <td class="col-md-2">
                            Detalla Servicio
                        </td>
                        <td class="col-md-2">
                            Cantidad
                        </td>
                        <td class="col-md-2">
                            Volumen Ticket
                        </td>
                        <td class="col-md-2">
                            Cantidad
                        </td>
                        <td class="col-md-2">
                            Tipo de Operación
                        </td>
                        <td class="col-md-2">
                            Resultado
                        </td>
                        <td class="col-md-2">
                            Acción
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="button" value="Guardar" id="send" class="btn btn-primary" />
                </div>
            </div>
        </div>

       
        <table id="tResultado1" class="table-striped hidden">
            <thead>
                <tr>
                    <td class="col-md-2">
                        Tipo Servicio
                    </td>
                    <td class="col-md-2">
                        Detalla Servicio
                    </td>
                    <td class="col-md-2">
                        Cantidad
                    </td>
                    <td class="col-md-2">
                        Volumen Ticket
                    </td>
                    <td class="col-md-2">
                        Cantidad
                    </td>
                    <td class="col-md-2">
                        Tipo de Operación
                    </td>
                    <td class="col-md-2">
                        Resultado
                    </td>
                    <td class="col-md-2">
                        Acción
                    </td>
                </tr>
            </thead>
        </table>
        
        <br />
        <br />
        <br />
        
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Advertencia</h4>
                </div>
                <div class="modal-body">
                    <p>El Dato que desea agregar ya se encuentra en lista.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            
        </div>
    </div>
   
    }

<div>
    @(Html.ActionLink(" ", "Index", new { id = 1 }, new { @class = "glyphicon glyphicon-arrow-left glyphicon-lg" }))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript">  
    $("#send").click(function () {
        var myTableArray = [];
        $("table#tResultado1 tr").each(function () {
            var arrayOfThisRow = [];
            var tableData = $(this).find('td');
            if (tableData.length > 0) {
                tableData.each(function () { arrayOfThisRow.push($(this).text()); });
                myTableArray.push(arrayOfThisRow);
            }
        });
        console.log(myTableArray);
        var postData = { values: myTableArray };
        $.ajax({
            type: "POST",
            url: "/CalculoHoras/ProcesoGuardado",
            data: postData,
            success: function (data) {

                var url = '@Url.Action("Index", "CalculoHoras", new { id = 1 })';
                console.log(url);
               // window.location.href = url;
            },error: function (ex) {
                var url = '@Url.Action("Index", "CalculoHoras", new { id = 1 })';
                console.log(url);
                window.location.href = url;
            },
            dataType: "json",
            traditional: true
        });

    });
    function delete_user(row) {
        row.closest('tr').remove();
        if ($('#miTabla >tbody >tr').length == 1) {
            $("#Grilla").hide();
        }
    }
    $("#agregar").click(function () {
        
        //validamos que no se repita ante sde agregar
        var id_servicio;
        var descripcion_servcio;
        id_servicio = $("#Id_servicios option:selected").text;
        descripcion_servcio = $("#Id_Servicio_Descripcion1 option:selected").text();
        //recorremos la rabla
        var table = $("tResultado tbody");
        var ser;
        var des;
        var repetido=0;
            $('#tResultado tr').each(function () {
                ser = $(this).find("td").eq(0).html();
                des = $(this).find("td").eq(1).html();
                if (ser == $("#Id_servicios option:selected").text() && des == $("#Id_Servicio_Descripcion1 option:selected").text())
                {
                    repetido = 1;
                }
            });
            if (repetido != 1)
            {
                $("#Grilla").show();
                var nuevaFila = "<tr>";
                nuevaFila += "<td class='col-md-2'>" + $("#Id_servicios option:selected").text(); + "</td>";
                nuevaFila += "<td class='col-md-2'>" + $("#Id_Servicio_Descripcion1 option:selected").text(); + "</td>";
                nuevaFila += "<td class='col-md-2'>" + $("#cantidad_Servicio").val(); + "</td>";
                nuevaFila += "<td class='col-md-2'>" + $("#Id_Volumen_Ticket option:selected").text(); + "</td>";
                nuevaFila += "<td class='col-md-2'>" + $("#Cantidad_Volumen_Ticket").val(); + "</td>";
                nuevaFila += "<td class='col-md-2'>" + $("#Id_Tipo_Operacion option:selected").text(); + "</td>";
                nuevaFila += "<td class='col-md-2'>" + $("#Resultado").val(); + "</td>";
                nuevaFila += "<td class='col-md-2'><button type='button' class='glyphicon glyphicon-remove' value='borrar' onclick ='delete_user($(this))' /></td>";
                nuevaFila += "</tr>";
                $("#tResultado").append(nuevaFila);
                var nuevaFila1 = "<tr>";
                nuevaFila1 += "<td class='col-md-2'>" + $("#Id_servicios").val(); + "</td>";
                nuevaFila1 += "<td class='col-md-2'>" + $("#Id_Servicio_Descripcion1").val(); + "</td>";
                nuevaFila1 += "<td class='col-md-2'>" + $("#cantidad_Servicio").val(); + "</td>";
                nuevaFila1 += "<td class='col-md-2'>" + $("#Id_Volumen_Ticket").val(); + "</td>";
                nuevaFila1 += "<td class='col-md-2'>" + $("#Cantidad_Volumen_Ticket").val(); + "</td>";
                nuevaFila1 += "<td class='col-md-2'>" + $("#Id_Tipo_Operacion").val(); + "</td>";
                nuevaFila1 += "<td class='col-md-2'>" + $("#Resultado").val(); + "</td>";
                nuevaFila1 += "</tr>";
                $("#tResultado1").append(nuevaFila1);
                console.log(nuevaFila1);
            }
            else
            {
                $("#myModal").modal("show");
              
            }
    });
    $(function () {
        $("#calculobtn").click(function () {
           
            //var idTipoActividadB = $("#idTipoActividadBase").val();
            //var TipoInf = $("#idTipoInfraestructura").val();
            //var TipoO = $("#idTipoOperacion").val();
            //var TipoServicio = $("#idTipoServicioBrindado").val();
            //var TipoT = $("#idTipoTicket").val();
            //var catPer = $("#cantidadPersonas").val();
            $.get('@Url.Action("CalculosResultados", "CalculoHoras")',
                //{ idTipoActividadBase: idTipoActividadB, TipoInfraestructura: TipoInf, TipoOperacion: TipoO, TipoServicioBrindado: TipoServicio, TipoTicket: TipoT, cantP: catPer }
              {id:1}
               ).success(function (data) {
                   var s = data;
                  // alert(s);
                   //alert(data);
                   $("#Resultado").val(data);
                });
            return false;
        });
    });
    $(document).ready(function () {
        if ($('#miTabla >tbody >tr').length >1) {
            $("#Grilla").show();
        }
        else {
            $("#Grilla").hide();
        };
            $("#Id_servicios").change(function () {
                var valor
                valor = $('#Id_servicios option:selected').val();
                console.log(valor);
                $("#Id_Servicio_Descripcion1").empty();
                $.ajax({
                    type: 'POST',
                    //Llamado al metodo en el controlador
                    url: '@Url.Action("LlenarServicio", "CalculoHoras")',
                    dataType: 'json',
                    //Parametros que se envian al metodo del controlador
                    data: { id: valor },
                    //En caso de resultado exitoso
                    success: function (Data) {
                        if (Data.length == 0) {
                            $("#Id_Servicio_Descripcion1").append('<option value="Seleccione Opción"></option>');
                        }
                        else {
                            //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                            $("#Id_Servicio_Descripcion1").append('<option value="">Seleccione Opción</option>');
                            $.each(Data, function (i, Data) {
                                var $option = $('<option>');
                                $option.val(Data.Value);
                                $option.html(Data.Text);
                                //console.log(Data.Text);
                                $('#Id_Servicio_Descripcion1').append($option);
                            });
                           
                            //console.log(Data);
                        }
                        //Recargar el plugin para que tenga la funcionalidad del componente
                       // $("#Id_Servicio_Descripcion").select2({ placeholder: "Select One State", width: "20%" });
                    },
                    //Mensaje de error en caso de fallo
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
            
        });
</script>
}
}