@model SistemaCalculoweb.CalculoHoras

@{
    ViewBag.Title = "Delete";
}
@if (Session["Usuario"] == null)
{
    <br />
    <br />
    <br />
    @Html.ActionLink("Favor Iniciar sesión para visualizar contenido ", "Login", "Usuarios")
}
else
{
<h2>Eliminar</h2>

<div>
    <h4>Calculo Horas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad_Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad_Volumen_Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad_Volumen_Ticket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resultado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicio_Descripcion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio_Descripcion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoOperacion.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoOperacion.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volumen_Ticket.Sugerencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volumen_Ticket.Sugerencia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
            <br />
            @(Html.ActionLink(" ", "Index", new { id = 1 }, new { @class = "glyphicon glyphicon-arrow-left btn-sm" }))
        </div>
    }
</div>
}