@model List<SistemaCalculoweb.SelectCalculosPar_Result>
@{
    ViewBag.Title = "Reporte";
    

}
@if (Session["Usuario"] == null)
{
    <br />
    <br />
    <br />
    @Html.ActionLink("Favor Iniciar sesión para visualizar contenido ", "Login", "Usuarios")
}
else
{
   
    <br />
    <br />
    <br />
    @Html.AntiForgeryToken()
    <table class="table">
    <tr>
    <td>Caso</td>
        <td>@Html.DropDownList("ID", null, htmlAttributes: new { @class = "form-control" })</td>
    <td>Servicio</td>
    <td>@Html.DropDownList("Id_Servicio", null, htmlAttributes: new { @class = "form-control" })</td>
    <td><input type="submit" id ="Actualizar" value="Actualizar" class="btn btn-primary btn-sm" /></td>
        <td><a href="@Url.Action("Pdf", "CalculoHoras")" class="btn btn-success" target="_blank">Exportar</a></td>
    </tr>
    </table>
    <table class="table" id="tablaResultado">
        <tr>
            <th>
                Caso
            </th>
            <th>
               Servicio
            </th>
            <th>
               Dispocitivo
            </th>
            <th>
                Cantidad Dispocitivos
            </th>
            <th>
                Requerimientos
            </th>
            <th>
                Cantidad Requerimientos
            </th>
            <th>
                Tipo Operación
            </th>
            <th>
                Resultado
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispocitivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Dispocitivos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volumen_Ticket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Ticket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_de_Operación)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>

        </tr>
        }

    </table>
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">  
        @*$("#Exportar").click(function () {
            var iden = $("#ID").val();
            var ser = $("#Id_Servicio").val();
            $.get('@Url.Action("Pdf", "CalculoHoras")',
                { id: iden, servicio: ser }
               )
        })*@
        $("#Actualizar").click(function () {
            var iden=$("#ID").val();
            var ser = $("#Id_Servicio").val();
            $("#tablaResultado").empty();
            var col = "<tr><td>ID</td><td>Servicio</td><td>Dispocitivo</td><td>Cantidad Dispocitivos</td><td>Requerimientos</td><td>Cantidad Requerimientos</td><td>Tipo Operación</td><td>Resultado</td></tr>";
            $('#tablaResultado').append(col);
                 $.ajax({
                     type: 'POST',
                     //Llamado al metodo en el controlador
                     url: '@Url.Action("grillaFiltrada", "CalculoHoras")',
                     dataType: 'json',
                     //Parametros que se envian al metodo del controlador
                     data: { id: iden, servicio:ser },
                     //En caso de resultado exitoso
                     success: function (Data) {
                         if (Data.length == 0) {
                             console.log("LLego 0");
                         }
                         else {
                             //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                             console.log(Data);
                          
                             $.each(Data, function (i, Data) {
                                 var nuevaFila = "<tr>";
                                 nuevaFila += "<td>" + Data["ID"] + "</td>";
                                 nuevaFila += "<td>" + Data["Servicio"] + "</td>";
                                 nuevaFila += "<td>" + Data["Dispocitivo"] + "</td>";
                                 nuevaFila += "<td>" + Data["Cantidad_Dispocitivos"] + "</td>";
                                 nuevaFila += "<td>" + Data["Volumen_Ticket"] + "</td>";
                                 nuevaFila += "<td>" + Data["Cantidad_Ticket"] + "</td>";
                                 nuevaFila += "<td>" + Data["Tipo_de_Operación"] + "</td>";
                                 nuevaFila += "<td>" + Data["Resultado"] + "</td>";
                                 nuevaFila +="</tr>"
                                 $('#tablaResultado').append(nuevaFila);
                             });
                         }
                     },
                     error: function (ex) {
                         alert('Failed to retrieve states.' + ex);
                     }
                 });
            })
    </script>
    }