<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SACP</title>
    @Styles.Render("~/Contentr/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["Usuario"] == null)
                {
                     @Html.ActionLink("SACP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
              
            </div>
            
            <div class="navbar-collapse collapse">

                <div class="container-fluid">
                @if (Session["Usuario"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Usuarios
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Datos Calculo
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Servicios", "index", "Servicios")</li>
                                <li>@Html.ActionLink("Dispositivos", "index", "Servicio_Descripcion")</li>
                                <li>@Html.ActionLink("Operación", "index", "TipoOperacions")</li>
                                <li>@Html.ActionLink("Requerimientos", "index", "Volumen_Ticket")</li>
                                @*<li>@Html.ActionLink("Mantenedor de Tipo Ticket", "index", "TipoTickets")</li>*@
                            </ul>
                        </li>
                       
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Calculo
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Calculo", "Index", "CalculoHoras")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Reportes
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Reporte", "Reporte", "CalculoHoras")</li>
                            </ul>
                        </li>
                    </ul>
                }
                </div>
@*else
{*@
                    @Html.Partial("_LoginPartial")
                    }
                </div>

            </div>
 </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
