@model SistemaCalculoweb.TipoOperacion

@{
    ViewBag.Title = "Delete";
}
@if (Session["Usuario"] == null)
{
    <br />
    <br />
    <br />
    @Html.ActionLink("Favor Iniciar sesión para visualizar contenido ", "Login", "Usuarios")
}
else
{
<h2>Operación</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.descripcion, "Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Referencia, "Referencia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.HH)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
            <br />
            @(Html.ActionLink(" ", "Index", new { id = 1 }, new { @class = "glyphicon glyphicon-arrow-left btn-sm" }))
        </div>
    }
</div>
}