@model IEnumerable<SistemaCalculoweb.TipoOperacion>

@{
    ViewBag.Title = "Mantenedor Tipo de Operación";
}
@if (Session["Usuario"] == null)
{
    <br />
    <br />
    <br />
    @Html.ActionLink("Favor Iniciar sesión para visualizar contenido ", "Login", "Usuarios")
}
else
{
<h2>Mantenedor Tipo de Operación</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { id = 1 }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.estado)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>*@
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.idTipoOperacion }, new { @class = "glyphicon glyphicon-pencil" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.idTipoOperacion }, new { @class = "glyphicon glyphicon-remove" })
        </td>
    </tr>
}

</table>
}