@model SistemaCalculoweb.CalculosResultados

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<div>
    <h4>CalculosResultados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.resultado,"Resultado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resultado)
        </dd>

        <dt>
            @Html.LabelFor(model => model.cantidadPersonas,"Cantidad de Personas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadPersonas)
        </dd>

        <dt>
            @Html.LabelFor(model => model.fechaCalculo,"Fecha de Calculo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCalculo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Empresa.Nombre,"Empresa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TipoActividadBase.descripcion,"Tipo Actividad Base")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoActividadBase.descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TipoInfraestructura.descripcion,"Tipo Infraestructura")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoInfraestructura.descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TipoOperacion.descripcion,"Tipo Operación")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoOperacion.descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TipoServicioBrindado.descripcion,"Tipo Servicio Brindado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServicioBrindado.descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TipoTicket.descripcion,"Tipo Ticket")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTicket.descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Usuario.nombreUsuario,"Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
            <br />
            @(Html.ActionLink(" ", "Index", new { id = 1 }, new { @class = "glyphicon glyphicon-arrow-left btn-sm" }))
        </div>
    }
</div>
