@model SistemaCalculoweb.Volumen_Ticket

@{
    ViewBag.Title = "Details";
}
@if (Session["Usuario"] == null)
{
    <br />
    <br />
    <br />
    @Html.ActionLink("Favor Iniciar sesión para visualizar contenido ", "Login", "Usuarios")
}
else
{
<h2>Details</h2>

<div>
    <h4>Volumen_Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sugerencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sugerencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}