@model IEnumerable<SistemaCalculoweb.Servicios>

@{
    ViewBag.Title = "Mantenedor Tipo de Servicios";
}
@if (Session["Usuario"] == null)
{
    <br />
    <br />
    <br />
    @Html.ActionLink("Favor Iniciar sesión para visualizar contenido ", "Login", "Usuarios")
}
else
{
<h2>Mantenedor Tipo de Servicios</h2>

<p>
    @(Html.ActionLink("Nuevo", "Create", new { id = 1 }, new { @class = "btn btn-primary" }))
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Decripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Decripcion)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove" })
        </td>
    </tr>
}

</table>
}