@model SistemaCalculoweb.Usuarios

@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="row">
<div class="col-md-8">
    <section id="loginForm">
        <br />
        <br />
          
                <hr />
     <br />
        <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Correo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Contrasenia, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Contrasenia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contrasenia, "", new { @class = "text-danger" })
                    </div>
                    @ViewBag.Error
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
                    </div>
                </div>

    </section>
</div>

</div>
}